* {  
    margin: 0;  
    padding: 0;  
    border: none;  
    outline: none;  
    box-sizing: border-box;  

 }
 input{
     display: flex;
     border: solid 1px;
 }
a{
    color: black;
    list-style-type:none;
    overflow:hidden;
    text-decoration:none;
 }